@use "variables" as v;

@mixin sm {
    @media (min-width: v.$sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: v.$md) {
        @content;
    }
} 

@mixin lg {
    @media (min-width: v.$lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: v.$xl) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: v.$xxl) {
        @content;
    }
}

@mixin btn($bgColor, $textColor) {
    background-color: $bgColor;
    padding: .75rem 1.75rem;
    color: $textColor;
    font-size: 1.125rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;

    @include md {
        width: auto;
    }
    &:hover {
        background-color: darken( $bgColor, 10% );
    }
}


@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    gap: $gap;
}

@mixin heading {
    text-align: center;
    margin-bottom: 2rem;

    &::after {
        content: "";
        display: block;
        width: 220px;
        height: 100px;
        margin: 0 auto;
        background-image: url(../img/separador.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}